{% extends 'base.html' %}
{% block title %}
Mix News
{% endblock title %}
{% block content %}
<div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">About Us</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                  <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                              <use xlink:href="#collection"></use>
                        </svg>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">About Mix News</h3>
                  <p>Mix News is your one-stop shop for staying informed on a global scale! We curate a diverse mix of
                        news stories from trusted sources around the world, delivering them to you in a clear and
                        concise format.</p>
            </div>
            <div class="feature col">
                  <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                              <use xlink:href="#people-circle"></use>
                        </svg>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">Our Mission</h3>
                  <p>Our mission is to empower you with the information you need to understand the world around you. We
                        believe in the importance of a well-rounded perspective, so we strive to present a variety of
                        news stories across different topics and viewpoints.</p>
            </div>
            <div class="feature col">
                  <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                              <use xlink:href="#toggles2"></use>
                        </svg>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">The Mix News Team</h3>
                  <p>We are a passionate group of journalists, editors, and tech enthusiasts dedicated to bringing you
                        the latest news in a way that's informative and engaging.</p>
            </div>
      </div>
</div>
{% endblock %}