{% extends 'base.html' %}
{% block title %}
Mix News
{% endblock title %}
{% block content %}
<div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom">General Questions</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#bootstrap"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">What is Mix News?</h3>
                        <p>Mix News is a website that delivers a variety of news stories from around the world, curated
                              to provide you with a mix of interesting and informative content.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#cpu-fill"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">What kind of news does Mix News cover?</h3>
                        <p>Mix News covers a wide range of topics, including world news, science, entertainment,
                              technology, business, and lifestyle.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#calendar3"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Is the news on Mix News biased?</h3>
                        <p>We strive to present news stories from a variety of sources and perspectives. We encourage
                              you to follow the links to the original news articles to form your own opinion.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#home"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">How often is Mix News updated?</h3>
                        <p>Mix News is updated regularly throughout the day with new content.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#speedometer2"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">What devices can I use to access Mix News?</h3>
                        <p>Mix News is accessible on most devices with a web browser, including desktops, laptops,
                              tablets, and smartphones.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#toggles2"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">I'm having trouble accessing Mix News. What can
                              I do?</h3>
                        <p>If you're having trouble accessing the website, please try clearing your browser cache and
                              cookies, or try using a different browser. You can also contact us for further assistance.
                        </p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#geo-fill"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Can I comment on the news stories?</h3>
                        <p>Not currently, but we are exploring ways to allow user interaction in the future.</p>
                  </div>
            </div>
            <div class="col d-flex align-items-start">
                  <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                        <use xlink:href="#tools"></use>
                  </svg>
                  <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">How can I contact Mix News?</h3>
                        <p>You can contact us through our contact form on the website or by emailing us at mix_news@gmail.com</p>
                  </div>
            </div>
      </div>
</div>
{% endblock %}